<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MetaFit &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

<!--     Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
<!--     Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/css/icomoon.css">
<!--     Bootstrap  -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">

<!--     Magnific Popup -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">

<!--     Owl Carousel  -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="../static/css/login_style.css">

    <!-- Modernizr JS -->
    <script src="../static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="hold-transition login-page fh5co-heading fh5co-cover row" style="background-image: url(../static/images/index_background_header.jpg);">

<section class="login row">


    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Criar Conta</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="bi bi-person-add"></i></a>
<!--                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
                    <a href="#" class="social"><i class="bi bi-person-check"></i></a>
                </div>
<!--                <span>ou entre de outra forma</span>-->
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Senha" />
                <input type="text" placeholder="CPF" />
                <input type="text" placeholder="CEP" />
                <input type="date" placeholder="Data de nascimento" />
                <button><a style="text-decoration: none; color: white" href="perfil_foto.html">Continuar</a></button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Entrar</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social"><i class="bi bi-google"></i></a>
                    <a href="#" class="social"><i class="bi bi-linkedin"></i></a>
                </div>
                <span>ou use sua conta já existente</span>
                <input type="text" placeholder="Nome" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Senha" />
                <a href="#">Esqueceu sua senha?</a>
                <button><a style="text-decoration: none; color: white" href="perfil_foto.html">Entrar</a></button>
            </form>
        </div>
        <div class="overlay-container" style="background-image: url(../static/images/fundo_login2.png);">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bem-vindo de volta!</h1>
                    <p>Continue conectedo a nossa plataforma</p>
                    <button class="ghost" id="signIn">Entrar</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Olá!</h1>
                    <p>Entre no nosso serviço para aproveitar tudo o que oferecemos</p>
                    <button class="ghost" id="signUp">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>



</section>


<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="../static/js/main.js"></script>
<script src="../static/js/perfil.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="../static/js/jquery.stellar.min.js"></script>
<!-- Carousel -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<script src="../static/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="../static/js/respond.min.js"></script>



</body>
</html>