<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Metafit &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


		<!--
        //////////////////////////////////////////////////////

        FREE HTML5 TEMPLATE
        DESIGNED & DEVELOPED by FreeHTML5.co

        Website: 		http://freehtml5.co/
        Email: 			info@freehtml5.co
        Twitter: 		http://twitter.com/fh5co
        Facebook: 		https://www.facebook.com/fh5co

        //////////////////////////////////////////////////////
         -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
<!--	&lt;!&ndash; Animate.css &ndash;&gt;-->
<!--	<link rel="stylesheet" href="../static/css/animate.css">-->
<!--	&lt;!&ndash; Icomoon Icon Fonts&ndash;&gt;-->
<!--	<link rel="stylesheet" href="../static/css/icomoon.css">-->
<!--	&lt;!&ndash; Bootstrap  &ndash;&gt;-->
<!--	<link rel="stylesheet" href="../static/css/bootstrap.css">-->

<!--	&lt;!&ndash; Magnific Popup &ndash;&gt;-->
<!--	<link rel="stylesheet" href="../static/css/magnific-popup.css">-->

<!--	&lt;!&ndash; Owl Carousel  &ndash;&gt;-->
<!--	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">-->
<!--	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">-->

<!--	&lt;!&ndash; Theme style  &ndash;&gt;-->
<!--	<link rel="stylesheet" href="../static/css/style.css">-->
	<link rel="stylesheet" href="../static/css/style_my_level.css">

<!--	&lt;!&ndash; Modernizr JS &ndash;&gt;-->
<!--&lt;!&ndash;	<script src="../static/js/modernizr-2.6.2.min.js"></script>&ndash;&gt;-->
<!--	&lt;!&ndash; FOR IE9 below &ndash;&gt;-->
<!--	&lt;!&ndash;[if lt IE 9]>-->
<!--&lt;!&ndash;        <script src="../static/js/respond.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;        <![endif]&ndash;&gt;&ndash;&gt;-->

	</head>
	<body style="background-image: url(../static/images/fundo_my_level_body.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover">

		<section class="forms-section row Fundo-level d-flex justify-content-center flex-align-center">

			<div class="container" id="container">
				<div class="form-container sign-up-container">
					<form action="#">
						<h1>Calendário</h1>
						<div class="social-container">
<!--							<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
							<a href="#" class="social"><i class="fab bi bi-calendar-check"></i></a>
<!--							<a href="#" class="social"><i class="fab bi bi-calendar-minus"></i></a>-->
							<a href="#" class="social"><i class="fab bi bi-calendar-plus"></i></a>
<!--							<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--							<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
						</div>
<!--						<span>ou entre de outra forma</span>-->
						<input type="text" placeholder="Nome do treino/dieta" />
						<input type="text" placeholder="Horário" />
						<div class="control-group">
							<h1>Escolha o dia da semana</h1>
							<label class="control control--checkbox">Domingo
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">Segunda-feira
								<input type="checkbox" checked="checked"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">Terça-feira
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">Quarta-feira
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">Quinta-feira
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">Sexta-feira
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">Sábado
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<!--							<label class="control control&#45;&#45;checkbox">Disabled-->
							<!--								<input type="checkbox" disabled="disabled"/>-->
							<!--								<div class="control__indicator"></div>-->
							<!--							</label>-->
							<!--							<label class="control control&#45;&#45;checkbox">Disabled & checked-->
							<!--								<input type="checkbox" disabled="disabled" checked="checked"/>-->
							<!--								<div class="control__indicator"></div>-->
							<!--							</label>-->
						</div>
<!--						<input type="password" placeholder="Senha" />-->
<!--						<input type="text" placeholder="CPF" />-->
<!--						<input type="text" placeholder="CEP" />-->
<!--						<input type="date" placeholder="Data de nascimento" />-->
						<button><a style="text-decoration: none; color: white" href="all_my_training.html">Continuar</a></button>
					</form>
				</div>
				<div class="form-container sign-in-container">
					<form action="#">
						<h1>FORMULÁRIO - SEU TREINO</h1>
						<p style="font-weight: bold; font-size: 20px; font-family: Verdana, Geneva, sans-serif; text-align: justify">Nos fale seu objetivo</p>
						<div class="customCheckBoxHolder row">

							<div class="col-md-4">
								<input class="customCheckBoxInput" id="cCB1" type="checkbox">
								<label class="customCheckBoxWrapper" for="cCB1">
									<div class="customCheckBox">
										<div class="inner">Perder peso</div>
									</div>
								</label>
							</div>


							<div class="col-md-4">
								<input class="customCheckBoxInput" id="cCB2" type="checkbox">
								<label class="customCheckBoxWrapper" for="cCB2">
									<div class="customCheckBox">
										<div class="inner">Ganhar músculo</div>
									</div>
								</label>
							</div>

							<div class="col-md-4">
								<input class="customCheckBoxInput" id="cCB3" type="checkbox">
								<label class="customCheckBoxWrapper" for="cCB3">
									<div class="customCheckBox">
										<div class="inner">Desenvolver músculos</div>
									</div>
								</label>
							</div>

							<div class="col-md-4">
								<input class="customCheckBoxInput" id="cCB4" type="checkbox">
								<label class="customCheckBoxWrapper" for="cCB4">
									<div class="customCheckBox">
										<div class="inner">Ficar sarado</div>
									</div>
								</label>
							</div>

						</div>
<!--						<span>ou use sua conta já existente</span>-->
						<p style="font-weight: bold; font-size: 20px; font-family: Verdana, Geneva, sans-serif; text-align: justify">Nos informe seu peso e sua altura</p>
						<input type="number" placeholder="Peso * kg" />
						<input type="number" placeholder="Altura * m" />
						<div class="control-group">
							<h1>Quanto tempo prática exercícios?</h1>
							<label class="control control--checkbox">a mais de 5 anos
								<input type="checkbox" checked="checked"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">a 4 anos
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">a mais de 1 ano
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">a menos de 1 ano
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
							<label class="control control--checkbox">nunca pratiquei antes
								<input type="checkbox"/>
								<div class="control__indicator"></div>
							</label>
<!--							<label class="control control&#45;&#45;checkbox">Disabled-->
<!--								<input type="checkbox" disabled="disabled"/>-->
<!--								<div class="control__indicator"></div>-->
<!--							</label>-->
<!--							<label class="control control&#45;&#45;checkbox">Disabled & checked-->
<!--								<input type="checkbox" disabled="disabled" checked="checked"/>-->
<!--								<div class="control__indicator"></div>-->
<!--							</label>-->
						</div>
						<a href="../index.html">Voltar para home</a>
						<button><a style="text-decoration: none; color: white; margin-bottom: 20px" href="all_my_training.html">Ver resultado</a></button>
					</form>
				</div>
				<div class="overlay-container" style="background-image: url(../static/images/fundo_my_level.png);">
					<div class="overlay">
						<div class="overlay-panel overlay-left">
							<h1>Bem-vindo!</h1>
							<p>Agora que viu seus exercícios, monte sua agenda</p>
							<button class="ghost" id="signIn">Voltar para a sessão anterior</button>
						</div>
						<div class="overlay-panel overlay-right">
							<h1>Monte sua agenda!</h1>
							<p>Clique no botão abaixo para criar sua agenda de exercícios</p>
							<button class="ghost" id="signUp">Montar</button>
						</div>
					</div>
				</div>
			</div>


<!--			<div class="container2" style="background-image:url(../static/images/Junte-se_a_nos.png);"></div>-->
<!--			<div class="subscribe fh5co-pricing container pricing col-lg-12 col-md-8 col-md-2 col-xxl-10">-->
<!--				<p>FORMULÁRIO - SEU TREINO</p>-->
<!--				<p>Nos fale seu objetivo</p>-->
<!--				<div class="customCheckBoxHolder">-->

<!--					<input class="customCheckBoxInput" id="cCB1" type="checkbox">-->
<!--					<label class="customCheckBoxWrapper" for="cCB1">-->
<!--						<div class="customCheckBox">-->
<!--							<div class="inner">Perder peso</div>-->
<!--						</div>-->
<!--					</label>-->

<!--					<input class="customCheckBoxInput" id="cCB2" type="checkbox">-->
<!--					<label class="customCheckBoxWrapper" for="cCB2">-->
<!--						<div class="customCheckBox">-->
<!--							<div class="inner">Ganhar músculo</div>-->
<!--						</div>-->
<!--					</label>-->

<!--					<input class="customCheckBoxInput" id="cCB3" type="checkbox">-->
<!--					<label class="customCheckBoxWrapper" for="cCB3">-->
<!--						<div class="customCheckBox">-->
<!--							<div class="inner">Desenvolver músculos</div>-->
<!--						</div>-->
<!--					</label>-->

<!--					<input class="customCheckBoxInput" id="cCB4" type="checkbox">-->
<!--					<label class="customCheckBoxWrapper" for="cCB4">-->
<!--						<div class="customCheckBox">-->
<!--							<div class="inner">Ficar sarado</div>-->
<!--						</div>-->
<!--					</label>-->

<!--				</div>-->
<!--&lt;!&ndash;				<input placeholder="Seu nome" class="subscribe-input" name="nome" id="nome" type="text">&ndash;&gt;-->
<!--&lt;!&ndash;				<input placeholder="Sua idade" class="subscribe-input" name="idade" id="idade" type="number">&ndash;&gt;-->
<!--				<input placeholder="Seu peso * kg" class="subscribe-input" name="peso" id="peso" type="number">-->
<!--				<input placeholder="Sua altura * centímetros" class="subscribe-input" name="altura" id="altura" type="number">-->
<!--				<p>A quanto tempo pratica exercícios</p>-->
<!--				<div class="uiverse-pixel-radio-group">-->
<!--					<label class="uiverse-pixel-radio">-->
<!--						<input type="radio" name="pixel-choice" checked="" />-->
<!--						<span class="label-text">a mais de 5 anos</span>-->
<!--					</label>-->
<!--					<label class="uiverse-pixel-radio">-->
<!--						<input type="radio" name="pixel-choice" />-->
<!--						<span class="label-text">a 4 anos</span>-->
<!--					</label>-->
<!--					<label class="uiverse-pixel-radio">-->
<!--						<input type="radio" name="pixel-choice" />-->
<!--						<span class="label-text">a mais de 1 ano</span>-->
<!--					</label>-->
<!--					<label class="uiverse-pixel-radio">-->
<!--						<input type="radio" name="pixel-choice" />-->
<!--						<span class="label-text">a menos de 1 ano</span>-->
<!--					</label>-->
<!--					<label class="uiverse-pixel-radio">-->
<!--						<input type="radio" name="pixel-choice" />-->
<!--						<span class="label-text">nunca pratiquei antes</span>-->
<!--					</label>-->
<!--				</div>-->
<!--	&lt;!&ndash;			<input placeholder="" class="subscribe-input" name="email" type="email">&ndash;&gt;-->
<!--	&lt;!&ndash;			<input placeholder="Your e-mail" class="subscribe-input" name="email" type="email">&ndash;&gt;-->
<!--				<br>-->
<!--				<div class="submit-btn">VER RESULTADO</div>-->
<!--			</div>-->
		</section>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
<!--	<script src="../static/js/jquery.min.js"></script>-->
	<script src="../static/js/perfil.js"></script>
<!--	&lt;!&ndash; jQuery Easing &ndash;&gt;-->
<!--	<script src="../static/js/jquery.easing.1.3.js"></script>-->
<!--	&lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--	<script src="../static/js/bootstrap.min.js"></script>-->
<!--	&lt;!&ndash; Waypoints &ndash;&gt;-->
<!--	<script src="../static/js/jquery.waypoints.min.js"></script>-->
<!--	&lt;!&ndash; Stellar Parallax &ndash;&gt;-->
<!--	<script src="../static/js/jquery.stellar.min.js"></script>-->
<!--	&lt;!&ndash; Carousel &ndash;&gt;-->
<!--	<script src="../static/js/owl.carousel.min.js"></script>-->
<!--	&lt;!&ndash; countTo &ndash;&gt;-->
<!--	<script src="../static/js/jquery.countTo.js"></script>-->
<!--	&lt;!&ndash; Magnific Popup &ndash;&gt;-->
<!--	<script src="../static/js/jquery.magnific-popup.min.js"></script>-->
<!--	<script src="../static/js/magnific-popup-options.js"></script>-->
<!--	&lt;!&ndash; Main &ndash;&gt;-->
<!--	<script src="../static/js/main.js"></script>-->

	</body>
</html>

